## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [ ]:
import re

In [ ]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [ ]:
len_ = 0

for a in string_01.split():#в цикле раздел строки на слова
  a = a.strip('/n')#удаление пробелов
  len_ += len(a)#тут мы по идее прибавляем к len_ длину каждого нового слова
print(len_)

221

In [ ]:
len(re.findall(r'\w', string_01))#то же самое с помощью регулярных. Считаем цифры/буквы и еще что-ьо

215

2. Посчитайте, сколько в строке слов.

In [ ]:
len(string_01.replace('-','').split())#решение с помощбю приведения строки к списку по разделителю "пробел", реплэйс служит для замены ненужного тире на ничего

45

In [ ]:
len(re.findall(r'\w+\b', string_01))# длина списка, который формируется из элементов, отвечающих условиям регулярки

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [ ]:
import re

a = ('w')

re.findall(r'\b[w,W]\w+', string_01)

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

In [ ]:
q = input()

def first_letter(q):
  
  a = re.findall(r'\b' + q + r'\w*', string_01, re.I)# с помощью функции re.escape(q) в регулярку вводится переменная(?) вообще нет, просто вводится черз конкатинацию. re.I = re.Ignorecase (flag)
  return a

first_letter(q)

w

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [ ]:
import random #импорт библиотеки для генерации псевдо-случайных чисел

In [ ]:
b = ['3']#назначение списка со значением 3 (согласно условию последовательность должна содержать 3)

while len(b) < 6:# пока длина списка меньше 6 выполняется цикл, те длина цикла = 5, цикл выполняется, длина становится 6 и цикл останавливается
  a = str(random.randint(0,9))#создается переменная а, значение которой случайно в диапазоне от 0 до 9 и приведение к типу данных "строка"
  b.append(a)#добавение каждого нового а в конец списка б

random.shuffle(b)#приведение к типу данных строка нужно, потому что функция шаффл работает с элементами списка в типе данных "строка"(?)
print(''.join(b))#в выводе b приводится к типу данных "строка", согласно задания

675437

#### Задача 3

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [ ]:
sum_element_1 = []
sum_element_2 = []

for el in list_01:
  if 10 < el < 100:
    sum_element_1.append(el)
  elif 200 < el < 500:
    sum_element_2.append(el)

print(sum(sum_element_1))
print(sum(sum_element_2))

408
883

In [ ]:
#решение из разбора

sum(x for x in list_01 if 10 < x < 100 or 200 < x < 500)

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [ ]:
stud_dict = {}

for student in students:
  stud_dict[student[0]] = (student[1:])

stud_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [ ]:
def change_group_num(num_stud, num_group):
  
  num_stud = input()
  num_group = input()
  for key,value in stud_dict.items():
    if key == str(num_stud):#если в инпут вводить цифры, то формат будет int, для корректного сравнения нужно приводить
      value[-1] = num_group
      return stud_dict
    else:
      return 'ошибка'

change_group_num(a,b)

0001
БСТ162

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [ ]:
#решение из лабораторки

st_numb = input()
gr_numb = input()

def replace_student(st_numb,gr_numb):
  stud_dict[st_numb][-1] = gr_numb.upper()# тут безо всякого перебора просто доступ по индексу, меняется значение на другое
  return stud_dict

replace_student(st_numb,gr_numb)

0333
Бст161

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ161'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [ ]:
def students_list():
  group_number = input()
  
  for value in stud_dict.values():
    if value[-1] == group_number.upper():#формат вэлью всегда строка, также если в инпут вводим буквы, то тоже получится строка, ничего дополнительно приводить не нужно
      print(value[0:3])

students_list()

бст161
['Антонов', 'Антон', 'Игоревич']
['Глаголева', 'Анастасия', 'Николаевна']
['Степанова', 'Наталья', 'Александровна']
['Боков', 'Игорь', 'Харитонович']

#### Задача 5

Дана матрица:

In [ ]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [ ]:
sum(sum(x) for x in matrix)#list comprehention! х это вложенный элемент списка matrix, сразу же берется сумма этих элементов, и еще берется общая сумма всех этих сумм

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [ ]:
max(sum(a) for a in zip(*matrix))#list comprehention!! zip(*matrix)) с помощью *args происходит разборка списка matrix, затем с помощью команды zip происходит вертикальное объединение, таким образом образуется список кортежей. В первой части компрехеншн вычисляем сумму элементов этих ортежей, а в самом конце с помощью МАХ выводим максимальное значение этих сумм

22